service vendor.lineage.xiaomi_als.service /system_ext/bin/hw/vendor.lineage.xiaomi_als.service
    class hal
    user system
    group system
    task_profiles ServiceCapacityLow
    interface aidl vendor.lineage.xiaomi_als.IAreaCapture/default
